/*--------------
     RESET
--------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------
   TYPOGRAPHY
--------------*/

body {
    font-family: Montferrat, sans-serif;
    font-size: 14px;
    color: white;
}

/*--------------
    GENERAL
--------------*/

.wrapper {
    width: 100%;
}

.row {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.app-wrapper {
    display: flex;
    height: calc(100vh - 5.4rem);
}

/*--------------
     HEADER
--------------*/

header {
    color: white;
    font-weight: 700;
}

header .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 100%;
    background-color: black;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

header .logo {
    max-width: 75%;
}

header .logo-small {
    display: none;
}

.logo img {
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: -1.5rem;
}

header nav > div {
    padding-left: 1.5rem;
}

header nav > div:first-child {
    border-left: 3px solid #adff2f;
}

header nav > div:not(.home) * {
    color: #a3a3a3;
}

header nav img {
    max-width: 1.9rem;
}

header .profile img {
    max-width: 1.2rem;
    height: 1.2rem;
    margin-left: 2px;
}

header ul i {
    font-size: 2.7rem
}

.fa-circle-info, .fa-square-plus {
    margin-right: 0.5rem;
    vertical-align: middle;
}

header ul {
    list-style: none;
    margin-top: 1.5rem;
}

header li {
    color: #a3a3a3;
    margin: 0.5rem 0 1rem 0;
    cursor: pointer;
}

hr {
    margin: 0.7rem 0;
    border-color: #a3a3a3;
}

header .profile i {
    color: #a3a3a3;
}

.profile-link {
    display: inline-block;
    background-color: #808080;
    border-radius: 20px;
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.5rem;
}

.profile small {
    color: #a3a3a3;
}

/*--------------
      MAIN
--------------*/

main {
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
}

/*--------------
    SECTIONS
--------------*/

section {
    width: 100%;
    padding: 0 1.5rem;
}

.img-wrap {
    position: relative;
}

section .fa-circle-play {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

/*--- Section upgrade ---*/

.upgrade {
    background-color: #080b12;
    height: 5.4rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.upgrade .wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.btn {
    height: 50%;

}

button {
    color: white;
    padding: 0.9rem 2.5rem;
    border-radius: 50px;
    background-color: transparent;
    border-color: white;
    font-size: 0.7rem;
    font-weight: 700;
}

/*--- Section Nav ---*/

.section-nav {
    background-color: #141922;
}

.section-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    color: #a3a3a3;
    font-weight: 700;
}

.section-nav li {
    margin: 1.5rem 0.7rem;
}

.section-nav li:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-evidenza {
    background-color: #adff2f;
    height: 3px;
    width: 40%;
    margin-top: 3px;
}

/*--- Other Sections---*/

.recently-played {
    padding-top: 2rem;
}

.recently-played .row, .creato-per .row, .artisti-popolari .row {
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.recently-played .col, .creato-per .col, .artisti-popolari .col {
    max-width: calc((100% / 6) - 1rem)
}

.card {
    text-align: center;
}

.recently-played img, .creato-per img, .artisti-popolari img {
    max-width: 100%;
}

h2 {
    font-size: 1rem;
    margin: 0.7rem 0;
}

.recently-played span {
    color: #a3a3a3;
    font-size: 0.8rem;
    font-weight: 700;
}

.creato-per {
    padding: 0 1.5rem;
}

.creato-per h1, .artisti-popolari h1 {
    margin-bottom: 0.5rem;
}

.creato-per small, .artisti-popolari small {
    color: #a3a3a3;
}

.artisti-popolari img {
    border-radius: 200px;
}

/*--------------
     FOOTER
--------------*/

footer {
    height: 5.4rem;
    width: 100%;
    background-color: #282828;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    font-size: 0.8rem;
}

footer .row {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
}

footer .col {
    display: flex;
    width: 30%;
}

footer .col:nth-child(2) {
    flex-grow: 1;
}

.footer-artist, .playing-artist, .save-track, .music-time, .volume-ctrl {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-artist {
    gap: 3rem;
}

.music-ctrl {
    flex-direction: column;
    align-items: center;
}

.music-commands {
    display: flex;
    gap: 2rem;
    margin-bottom: 0.5rem;
    margin-top: -0.3rem;
}

.music-commands i {
    line-height: 2rem;
    font-size: 1rem;
}

.music-commands i:nth-child(3) {
    font-size: 2rem;
}

.volume-ctrl {
    justify-content: end;
}

footer img {
    max-width: 2.5rem;
}

.artist-dscr * {
    display: block;
}

.music-time {
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
}

.music-bar, .volume {
    display: inline-block;
    background-color: #5a5a5a;
    height: 4px;
    width: 45%;
    border-radius: 1rem;
}

.music-bar {
    width: 60%;
}

.bar-inside {
    position: relative;
    height: 100%;
    width: 25%;
    background-color: #c1c1c1;
    border-radius: 1rem;
}

.save-track, .artist-dscr small {
    color: #878787;
}

footer span {
    font-weight: 900;
    color: white;
}

.music-time small {
    font-weight: 900;
}

.bar-inside div {
    background-color: white;
    height: 1rem;
    width: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    position: absolute;
    right: 0;
    display: none;
}

/*--------------
     HOVER
--------------*/

i:hover, a:hover, li:hover, small:not(section small):hover, .music-bar:hover, .volume:hover {
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

nav div a:last-child:hover {
    color: white;
    cursor: pointer;
}

button:hover {
        color: white;
        padding: 1rem 2.6rem;
        border-radius: 50px;
        background-color: transparent;
        border-color: white;
        font-size: 0.8rem;
        font-weight: 700;
        transition: 0.1s;
}

section .img-wrap:hover img{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.1s;
}

section img:hover + .fa-circle-play {
    display: block;
}

.fa-circle-play:hover {
    display: block;
}

.volume:hover, .music-bar:hover {
    background-color: #a3a3a3;
}

.volume:hover .bar-inside, .music-bar:hover .bar-inside{
    background-color: #adff2f;
}

.volume:hover .bar-inside div, .music-bar:hover .bar-inside div {
    display: block;
}

.music-ctrl .fa-solid:hover {
    font-size: 1.2rem;
}

.music-ctrl .fa-circle-play:hover {
    font-size: 2.5rem;
}

/*--------------
  MEDIAQUERIES
--------------*/

/*--- Horizontal oriented Tablet ---*/

@media screen and (max-width: 1100px) {

     /* recently played */

     .recently-played .col {
        max-width: calc(25% - 1rem);
       }

       .creato-per .col, .artisti-popolari .col {
        max-width: calc(25% - 1rem);
       }
}

/*--- Vertical oriented Tablet ---*/

@media screen and (max-width: 700px) {

    /* recently played and creato per*/

    .recently-played .col, .creato-per .col, .artisti-popolari .col {
    max-width: calc(50% - 1rem);
   }

    /* footer */

    .save-track {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .footer-artist {
        gap: 1.5rem;
    }
}

/*--- Smartphone ---*/

@media screen and (max-width: 600px) {

    /* header */

    header .wrap * {
        margin: 0;
        padding: 0;
    }

    header .wrap {
        width: 4.2rem;
        padding: 0 1rem 1rem 1rem;
    }

    header .logo {
        display: none;
    }

    header .wrap div {
        margin-top: 1rem;
    }

    header .logo-small {
        display: block;
        max-width: 100%;
        margin-top: -1rem;
    }

    header nav div a:last-child {
        display: none;
    }

    header nav > div:first-child {
        border: none;
    }

    header .wrap div {
        margin-top: 1rem;
    }

    header ul {
        display: none;
    }

    .playlist {
        overflow-y: auto;
    }

    header .profile i {
        color: #a3a3a3;
        margin-left: 3.5px;
    }

    header hr {
        display: none;
    }

    header small {
        display: none;
    }

    header .name {
        display: none;
    }

       /* footer */

    .music-bar {
        width: 60%;
    }

    /* footer */ 

    .footer-artist {
        gap: 0.5rem;
    }

    .playing-artist {
        gap: 0.5rem;
    }

    .volume-ctrl {
        gap: 0.5rem;
    }

    .volume {
        width: 45%;
    }
}

@media screen and (max-width: 530px) {
    
    .music-commands {
        gap: 1rem;
    } 
    
    .music-time {
        gap: 0.5rem;
    }
}